<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chats</title>
</head>
<body>
    <h3>
        Edit your chats <%=chat._id %>
    </h3>
    <p>This chat was sent from  <b><%=chat.from %></b> to <b><%=chat.to%></b></p>

    <form action="/chats/<%=chat._id%>?_method=PUT" method="POST">
        <textarea name="msg" id="" cols="50" rows="7"><%=chat.msg%></textarea><br><br>
        <button>Save</button>
    </form>
</body>
</html>