<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chatsapp</title>
</head>

<body>
    <h1>Chats App</h1>
    <form action="/chats/new" method="get">
        <button class="btn">New Chat</button>
    </form><br>
    <%for(let chat of chats){%>
        <div class="chat">
            <p>From: <i>
                    <%= chat.from %>
                </i></p>
            <div class="msg">
                <p>Message:<%= chat.msg %>
                </p>
                <div class="btns">
                    <form action="/chats/<%=chat._id%>/edit" method="get">
                        <button class="btn">Edit</button>
                    </form>
                    &nbsp;
                    <form action="/chats/<%=chat._id%>/?_method=DELETE" method="post">
                        <button class="btn">Delete</button>
                    </form>
                </div>
            </div>
            <p>Recevied by: <i>
                    <%=chat.to %>
                </i></p>
            <hr>
            <p>
                <%=chat.Created_at.toString().split(" ")[4] %></p>
            <p><%=chat.Created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
    <br>
    <%}%>
</body>
</html>